.facebook-img{
  width: 325px;
  margin-bottom: 0;
  }

.objective-fb{
  margin-top: 0;
  margin-left: 33px;
  font-size: 28px;
  font-family: arial;
}

.aa{


  max-width:  550px;
 min-width: 400px;
  margin-left: 0px;

  padding-top: 25px;
  display: flex;
  flex-direction: column;
 margin-top: 135px;
 
}

body{
  background-color: rgb(240, 242, 245);
}


.bb{
  border-style: 1px solid;
  width: 400px;
  height: 350px;
  margin-left: 60px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 120px;
  margin-right: 40px;
}

.AA{
 
  display: flex;
  justify-content: center;
  flex: 1;
  }

@media(max-width:850px){
  .AA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
   
  }

  .bb{
    margin-top: 0px;
  }

  .aa{
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 8px;
  }

  .facebook-img{
  margin-top: 0px;
  margin-left: 62px;
  }

   .objective-fb{
    width: 400px;
    font-size: 25px;
    margin-left: 52px;
   }
 
}

@media(min-width:850px) and (max-width:1070px){
  .objective-fb{
    font-size: 24px;
  
  }

  .aa{
    width:200px;
  }
}

.input1{
width: 355px;
margin: 15px;
padding: 16px 0 16px 16px;
font-family: arial;
font-size: 15px;
border-radius: 5px;
border: 0.1px solid rgb(224, 223, 223);
}





.input2{
  width: 355px;
  margin: 0px 15px 18px 15px;
  padding: 16px 0 16px 16px;
  font-family: arial;
  font-size: 15px;
  border-radius: 5px;
  border: 0.1px solid rgb(224, 223, 223);
 
}



.login-button{
  width: 370px;
margin: 0 15px 0 15px;
padding: 11px 16px 11px 16px;
font-family: arial;
font-size: 20px;
border-radius: 5px;
border: 0.1px solid rgb(224, 223, 223);
background-color:#1877f2;;
color: white;
font-weight: bold;
}



.forgot-button{
 font-family: arial; 
margin-top: 15px;
margin-left: 125px; 
color: #1877f2;;
font-size: 15px;
 }

.forgot-button:hover{
  text-decoration: underline;
}

.line{
width: 370px;
height: 1px;
background-color: rgb(218, 221, 225);
margin: 22px 15px 0 15px;
}

.create-acc{
  margin-top: 25px;
  background-color: #42b72a;
  color: white;
  padding: 13px;
  font-size: 18px;
  font-family: arial;
  border: none;
  border-radius: 5px;
  margin-left: 105px;
  font-weight: bold ;
  transition:  0.6s;
}
.create-acc:hover{
 background-color: rgb(15, 155, 15);
}

.last-line{
  margin-top: 55px;
  margin-left: 40px;
  font-family: arial;
  font-size: 15px;
}

.s1{
  color: gray;
}

